/*============= common css start===============*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
.secondary-text{
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #4D5F93;
}
h5{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #071E2A;
}
h4{
    font-size: 30px;
    font-family:var(--primary-font);
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #071E2A;
}

h2{
    font-family: var(--normal-font);
    font-weight: 400;
    font-size: 60px;
    line-height: 69px;
}
.button{
    padding: 12px 20px;
    background-color: var(--btn-color);
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    letter-spacing: 0.4656px;
    text-transform: uppercase;
    color: #fff;
    border:1px solid var(--btn-color);
    transition: .4s;
    display: inline-block;
    z-index: 2;
}
.button:hover{
    background-color:#fff;
    color:var(--btn-color);
}
:root{
    --primary-font:'Oswald', sans-serif;
    --secondary-font:'Open Sans', sans-serif;
    --normal-font:'Viga', sans-serif;;
    --btn-color:#2341AF;
    --section-padding:100px;
}
/*============= common css end===============*/
/*============= navbar part css start===============*/
.navbar{
    border-bottom: 1px solid #fff;
}
.navbar .navbar-brand p{
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 25px;
}
.navbar .nav-link{
    font-size: 16px;
    font-family: var(--primary-font);
    text-transform: uppercase;
    transition: .4s;
    color: #fff;
}
.navbar .nav-link:hover{
    color: var(--btn-color);
}
/*============= navbar part css end===============*/
/*============= banner part css start ===============*/
#banner{
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    padding: 147px 0;
    position: relative;
    overflow: hidden;
}
#banner .banner-text h4{
    color: #FC802C;
}
#banner .banner-text h1{
    font-family:var(--primary-font);
    font-weight: 400;
    font-size: 100px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 35px;
}
/* #banner .banner-img{
    background-color: red;
    position: absolute;
    top: -64px;
    right: 0;
} */
#banner .banner-img img{
    position: absolute;
    top: -64px;
    right: 0;
}
/*============= banner part css end===============*/
/*============= gain part css start===============*/
#gain{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
#gain .gain-title h2{
    padding-right: 50px;
    display: inline-block;
}
/*============= gain part css end===============*/
/*===========program-testmonial part css start=========*/
#program-testmonial{
    position: relative;
}
#program-testmonial::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url(../images/Vector.svg) no-repeat center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*===========program-testmonial part css end=========*/
/*============= program part css start===============*/
#program{
    padding-top: var(--section-padding);
    color: #fff;
    background-color: rgba(0, 0, 0,.9);
    padding-bottom:100px;
}
#program .program-title h2{
    position: relative;
    padding-right: 50px;
}
#program .program-title h2::after{
    position: absolute;
    bottom: 20px;
    right: -510px;
    width: 550px;
    height: 2px;
    background-color: #FC802C;
    content: "";
}
#program .program-item{
    padding-top: var(--section-padding);
}
#program .program-item .program-text .primary-text{
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 22px;
    padding-right: 20px;
    margin-top: 40px;
}
#program .program-item .program-text .secondary-text{
    font-family:var(--secondary-font) ;
    font-weight: 400;
    margin: 20px 0;
    padding-right: 20px;
    color: #fff;
    opacity: 0.5;
}
.program-item .program-text .list{
    margin: 20px 0;
}
.program-item .program-text .list ul li{
    font-family:var(--secondary-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    opacity: 0.5;
}
.program-item .program-text .rear-text{
    font-family:var(--primary-font);
    font-size: 18px;
    font-weight: 300;
    color: #FC802C;
}
/*============= program part css end===============*/
/*============= slider part css start===============*/
#slider{
    position: relative;
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    background-color: rgba(255, 255, 255,.8);
}
#slider .slider-title h2{
    margin-bottom: 90px;
    position:relative;
}
#slider .slider-title h2::after{
    position: absolute;
    bottom: 20px;
    right: -715px;
    width: 700px;
    height: 2px;
    background-color: #FC802C;
    content: "";
}
#slider .slider-text h4{
    margin: 20px 0;
    padding-right: 200px;
}
#slider .slider-text p{
    font-family:var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #4D5F93;
    margin-right: 20px;
}
#slider .slider-text a{
    color: #FC802C;
}
#slider .slider-text h5{
    margin-top: 20px;
}
#slider .slider-text .pstyle{
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #4D5F93;
}
#slider .prev{
    width: 60px;
    height: 60px;
    background-color: #FC802C;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 70px;
    transition: .4s;
    z-index: 2;
}
#slider .prev:hover{
    background-color:#071E2A;
}
#slider .next{
    width: 60px;
    height: 60px;
    background-color: #FC802C;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .4s;
    z-index: 2;

}
#slider .next:hover{
    background-color:#071E2A;
}
/*============= slider part css end===============*/
/*============= books part css start===============*/
#books{
    padding-top: var(--section-padding);
    padding-bottom: 260px;
    background-color: var(--btn-color);
    color: #fff;
}
#books .books-title h2{
    position: relative;
}
#books .books-title h2::after{
    position: absolute;
    bottom: 20px;
    right: -825px;
    width: 700px;
    height: 2px;
    content: "";
    background-color: #fff;
}
/*============= books part css end===============*/
/*============= books-slider part css start===============*/
#books-slider{
    height: 300px;
    background-color: #fff;
    margin-bottom: 200px;
}
.books-slider{
    top: -180px;
}
#books-slider .prev{
    width: 60px;
    height: 60px;
    background-color: #2341AF;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: -115px;
    right: 90px;
    transition: .4s;
    z-index: 2;
}
#books-slider .prev:hover{
    background-color:#071E2A;
}
#books-slider .next{
    width: 60px;
    height: 60px;
    background-color: #2341AF;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: -115px;
    right: 15px;
    transition: .4s;
    z-index: 2;

}
#books-slider .next:hover{
    background-color:#071E2A;
}
#books-slider .slick-dots{
    position: absolute;
    bottom: -107px;
    left: 0px;
}
#books-slider .slick-dots li{
    display: inline-block;
}
#books-slider .slick-dots li button{
    border: none;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4D5F93;
    opacity: 0.2;
    transition: .4s;
    margin-right: 10px;
}
#books-slider .slick-dots .slick-active button{
    width: 18px;
    height: 18px;
    background-color:var(--btn-color);
}
/*============= books-sluder part css end===============*/
/*============= subscribe part css start===============*/
#subscribe{
    position: absolute;
    top: -170px;
    left: 0;
    width: 100%;
}
#subscribe .subscribe{
    padding: 34px 47px 34px 70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 40, 78, 0.1);
    border-radius: 30px;
}
#subscribe .subscribe h3{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 35px;
    color: #071E2A;
    margin-bottom: 15px;
}
#subscribe .subscribe form .div{
    display: flex;
    justify-content: space-between;
}
#subscribe .subscribe form input{
    padding: 15px 0px 15px 27px;
    border-radius: 10px;
    border: 1px solid #444;
    width: 50%;
}
#subscribe .subscribe form input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
#subscribe .subscribe form #email{
    padding: 15px 0 15px 27px;
    width:100%;
    margin-top: 5px;
    margin-bottom: 20px;
}
.subscribe-img{
    margin-left:100px;
}
/*============= subscribe part css end===============*/
/*============= footer part css start===============*/
footer{
    background-color: #000;
    padding-top: 300px;
    padding-bottom: 20px;
    position: relative;
}
footer::after{
    position: absolute;
    bottom: 80px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:#fff;
    content: "";
    opacity: 0.2;
}
footer .footer-hadding h5{
    font-family: var(--primary-font);
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}
footer .footer-hadding h2{
    color: #fff;
    margin-top: -8px;
    font-family: var(--primary-font);
}
footer .footer-text p{
    margin-top: 35px;
}
.footer-btn{
    margin-top: 40px;
    text-align:right;
}
.footer-copyright{
    margin-top: 75px;
    color: #fff;
}
.footer-copyright .icone i{
    font-size: 20px;
    margin-right: 7px;
    cursor: pointer;
}
.footer-copyright .text p{
    font-family: var(--secondary-font);
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}
.footer-copyright .number p{
    font-family: var(--primary-font);
    text-align: right;
    font-weight: 400;
    font-size: 18px;
}
/*============= footer part css end===============*/
